* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/*header styles*/
.top-container {
	width: 100%;
	background-image: url('images/bg-hero-desktop.svg');
	background-size: contain;
	background-color: azure;
}

.mainHead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 50px;
	align-items: center;
}

.logo {
	width: 180px;
}

.btn {
	width: 150px;
	height: 40px;
	padding: 10px;
	border-radius: 30px;
	justify-content: flex-end;
	background-color: white;
	font-size: 12px;
	font-weight: 800;
	border-style: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.14);
}
/*header style ends*/

/*Building the community styles begins*/
.story-container {
	width: 100%;
	display: flex;
	padding: 0 50px 50px;
}

.story-header {
	width: 40%;
	padding-right: inherit;
	align-self: center;
}

.story-title {
	font-size: 40px;
	line-height: 1.3;
}

.para {
	font-size: 20px;
	padding: 40px 0 30px 0;
}

.story-btn {
	width: 210px;
	padding: 19px;
	background-color: #fe52c0;
	border-radius: 30px;
	border-style: none;
	color: #faebd7;
    font-size: 12px;
}

.story-image {
	width: 60%;
}

.story-illus {
	width: 100%;
}
/*style ends*/

/*Grow together style begins*/
.story-container-pt2 {
	margin: 100px 80px 50px 80px;
	display: flex;
    padding: 50px;
	border: 1px none whitesmoke;
	border-radius: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.14);
}

.story-header-pt2 {
	width: 50%;
	align-self: center;
	padding:0 90px 0 40px;
}

.story-2 {
	padding-bottom: 20px;
}

.story-image {
	width: 50%;
	margin-left: auto;
}

.grow {
	width: 100%;
}
/*style ends*/

/*Flowing conversation style begins*/
.story-container-pt3 {
	margin: 100px 80px 50px 80px;
	display: flex;
    padding: 50px 20px 50px 50px;
	border: 1px none whitesmoke;
	border-radius: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.14);
}

.story-image-3 {
	width: 50%;
}

.flow {
	width: 100%;
}

.story-header-pt3 {
	width: 50%;
	align-self: center;
	padding:0 10px 0 150px;
}

.story-3 {
	padding-bottom: 20px;
}
/*style ends*/

/*Users style begins*/
.story-container-pt4 {
	margin: 100px 80px 50px 80px;
	display: flex;
    padding: 50px;
	border: 1px none whitesmoke;
	border-radius: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.14);
}

.story-header-pt4 {
	width: 50%;
	align-self: center;
	padding:0 90px 0 40px;
}

.story-4 {
	padding-bottom: 20px;
}

.story-image-4 {
	width: 50%;
}
.users {
	width: 100%;
}
/*style ends*/

/*call to action style begins*/
.cta {
	width: 60%;
	display: block;
	text-align: center;
	align-items: center;
	height: auto;
	padding: 45px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.14);
	margin: 0 auto;
	position: relative;
	top: 100px;
	z-index: 5;
}

.items {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.que {
	padding: 0 0 20px 0
}

.action {
    width: 250px;
    border-radius: 80px;
    border-style: none;
    background-color: #ff3aa4;
    color: #eafcff;
	padding: 20px;
}
/*style ends*/

/*contact and address style begins */
.last-container {
	width: 100%;
	height: auto;
	background-color: #00252e; 
}

.contents {
	color: #d6d2ce;
	padding: 200px 100px 100px 100px
}

.brand-footer {
	margin: 20px 0 10px 20px;
}

.brand {

}

svg * {
	fill: white;
}

.positioning {
	display: flex;
}

.left {
	width: 50%;
}

.location {
	display: flex;
	margin: 20px;
}

.location-img {
	margin-right: 20px;
}

.p-details {
	line-height: 1.4;
}

.contact {
	display: flex;
	margin: 20px;
}

.contact-img {
	margin-right: 13px;
}

.mail {
	display: flex;
	margin: 20px;
}

.mail-img {
	margin-right: 13px;
}

.mid {
	width: 25%;
	margin: 20px 40px;
	line-height: 2;
}

.mid-r {
	width: 25%;
	margin: 20px 0 0 0;
	line-height: 2;
}

.social {
	width: 25%;
	display: flex;
	justify-content: space-around;
}

.social svg {
    font-size: 15px;
}

.insta {
	width: 1em;
	text-align: center;
	border: 4px thin white;
	border-radius: 50%;
}

.f-icon {
	border-radius: 50%;
}

.list li {
	list-style-type: none;
}

.copy {
	display: flex;
    justify-content: flex-end;
}
/*style ends*/