* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainHeader {
	width: 100%;
	background-image: url('images/bg-hero-desktop.svg');
	background-size: cover;
}

.mainHead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.btn {
	width: 200px;
	padding: 10px;
	border-radius: 30px;
	justify-content: flex-end;
	background-color: white;
	font-size: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

